*{
    margin: 0%;
    padding: 0%;
}

body{
    background: #e9ecf4;
    font-family: 'Chakra Petch', sans-serif;
}

#container {
	width: 90%;
	max-width: 1100px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, auto);

	grid-template-areas: "header"
						 "contenido"
						 "footer";
}

#container > div,
#container #header,
#container #contenido,
#container #footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

#container #header {
	background: #12203E;
	color: #fff;
	grid-area: header;
}

#container #contenido {
	grid-area: contenido;
}

#container #footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

@media screen and (max-width: 768px){
	#container {
        grid-template-areas: "header"
                             "contenido"
                             "footer";
	}
}

#menu{
	text-decoration: none;
	color: #ffffff;
	margin: 5px;

}

#menu:hover{
	text-decoration: none;
	color: #d5d1d1;
	transition: 0.5s;
}

/*TABLE*/

#titulo_table2{
    padding: 6px;
    background-color: #f9f93c;
}

td{
    padding: 5px;
    background-color: #F0EEEC;
}

#table2{
    border-spacing: 0;
}

#contenido{
    display: flex;
    justify-content: center;
}

#container2 {
	width: 90%;
	max-width: 1100px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);

	grid-template-areas: "seccion1 seccion2 seccion3"
						 "seccion4 seccion5 seccion6"
						 "seccion7 seccion8 seccion8";
}

#seccion1 {
	grid-area: seccion1;
}

#seccion2{
	grid-area: seccion2;
}

#seccion3{
	grid-area: seccion3;
}

#seccion4{
	grid-area: seccion4;
}

#seccion5{
	grid-area: seccion5;
}

#seccion6{
	grid-area: seccion6;
}

#seccion7{
	grid-area: seccion7;
}

#seccion8{
	grid-area: seccion8;
}

